body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #333;
    padding: 10px 0; /* Adiciona espaço acima e abaixo da barra de navegação */
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    background-color: #333;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

#colorButtonContainer {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-right: 20px; /* Espaçamento direito */
}

#colorButtonContainer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #333; /* Adiciona uma borda de 1px */
    cursor: pointer;
}

input[type="color"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento à esquerda */
}

#colorButtonContainer button:hover, input[type="color"]:hover {
    background-color: #2980b9;
}

/* Adicione estas regras CSS ao seu arquivo styles.css */
.container {
    display: flex;
    justify-content: center; /* Alinha as colunas horizontalmente ao centro */
    align-items: start; /* Alinha as colunas verticalmente ao topo */
}

.column {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Define a largura das colunas */
}

.task {
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-top: 10px;
}

.task:hover {
    background-image: linear-gradient(rgb(0 0 0 / 10%) 0 0); /* Cria um gradiente, sobrepondo o background-color do elemento */
}
